<footer>
   <div class="row py-3">
    <div class="col-lg-4 col-12 text-center px-0 mx-0">
        <i class="fa-solid fa-globe"></i> <b>English</b> <i class="fa-solid fa-indian-rupee-sign"></i> <b>INR</b>
        <a href=""><i class="fa-brands fa-square-facebook fa-lg"></i></a>
        <a href=""><i class="fa-brands fa-square-x-twitter fa-lg"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram fa-lg"></i></a>
    </div>
    <div class="col-lg-4 col-12 text-center px-0 mx-0">
        &copy; 2023 Airbnb,Inc
    </div>
    <div class="col-lg-4 col-12 text-center px-0 mx-0">
        <a href="#" class="p-2">Privacy</a>
         <a href="#" class="p-2">Term</a>
          <a href="#" class="p-2">Sitemap</a>
           <a href="#" class="p-2">Company details</a>
    </div>
   </div>
</footer>